<!DOCTYPE html>
<html>
    <head>
        <title>JaviBlog</title>
    </head>
    <body>
        <div>
            <h1><a href="">El Blog de Javi</a></h1>
        </div>

        <div>
            <p>published: 07.04.2017, 10:14</p>
            <h2><a href="">Mi Primer Post</a></h2>
            <p>Este es mi primer post</p>
        </div>

        <div>
            <p>published: 10.04.2017, 12:14</p>
            <h2><a href="">Mi Segundo Post</a></h2>
            <p>Este es mi segundo post</p>
        </div>
    </body>
</html>
